body {
    width: 960px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.content {
    text-align: center;
}
p {
    color: red;
}
input {
    width: 250px;
    height: 25px;
    font-size: 18px;
}
button {
    position: relative;
    height: 30px;
    top: -1px;
    font-size: 18px;
}
