body{}
  
h1{
  text-align: center;
}

.list {
  margin: 25px 0;
}
.content_list {
  padding: 20px 25px;
  -webkit-box-shadow: 2px 11px 16px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 11px 16px -6px rgba(0,0,0,0.75);
  box-shadow: 2px 11px 16px -6px rgba(0,0,0,0.75);
}
